<!DOCTYPE html>
<%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header', {pagina: 'Sobre'}); %>
            <main>
                <div class="jumbotron">
                    <h1>Sobre</h1>
                    <p>Oi sou Titan</p>
                </div>
            </main>
            <%- include('../partials/footer'); %>
    </body>

    </html>