* {
    margin: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: url(image.png) no-repeat;
    height: 100vh;
    background-size: cover;
    text-align: center;
    font-family: 'Cinzel', serif;
}

h1 {
    padding-top: 200px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 86px;
    color: #151718;
}

span {
    color: #DB2777;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 72px;
    color: rgba(44, 46, 47, 0.9);
}

a {
    padding: 16px 32px;
    text-decoration: none;
    color: black;
}

a:hover,
#btn {
    background: #DB2777;
    color: white;
    border-radius: 80px;
}