@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

* {
    background: #172026;
}

h1 {
    color: red;
    font-family: 'Tilt Prism', cursive;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;

}

img {
    margin: 0 30px;
}

a {
    text-decoration: none;
    color: white;
}